<div ng-controller="app.views.entries.index as index">
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <a href="/#/entries/create" class="btn btn-default waves-effect waves-light">
                    Nieuwe regel
                    <span class="m-l-5">
                        <i class="fa fa-plus"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel-group" id="accordion-entry-filter">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion-entry-filter" href="#collapseOne-2" aria-expanded="false" class="collapsed">
                                Filter
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne-2" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                        <div class="panel-body form-horizontal">
                            <div class="form-group" ng-repeat="filterable in index.filterables">
                                <label class="col-md-2 control-label" ng-cloak>{{filterable}}</label>
                                <div class="col-md-10">
                                    <input type="text" id="filterable_{{$index}}" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card-box table-responsive">
                <table id="dataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Datum in</th>
                            <th>Diersoort</th>
                            <th>Vindplaats</th>
                            <th>Via</th>
                            <th>Diagnose</th>
                            <th>Datum uit</th>
                            <th>Resultaat</th>
                            <th data-orderable="false">Acties</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>#</th>
                            <th>Datum in</th>
                            <th>Diersoort</th>
                            <th>Vindplaats</th>
                            <th>Via</th>
                            <th>Diagnose</th>
                            <th>Datum uit</th>
                            <th>Resultaat</th>
                            <th>Acties</th>
                        </tr>
                    </tfoot>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>